<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ajin.mall.sys.member.mapper.MemberMapper">
    <select id="selectCountByUsername" resultType="java.lang.Integer">
        select count(id)
        from member
        where username = #{username}
          and is_delete = 0
    </select>

    <select id="selectIdByUsername" resultType="java.lang.Long">
        select id
        from member
        where is_delete = 0
          and username = #{username}
    </select>

    <select id="selectListByCondition" resultType="ajin.mall.sys.member.view.MemberView">

    </select>
</mapper>