<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ajin.mall.sys.system.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="ajin.mall.common.data.entity.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="keyword" property="keyword"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        name,
        keyword,
        description,
        create_time,
        update_time,
        is_delete
    </sql>
    <select id="selectListByUser" resultMap="BaseResultMap">
    </select>

    <select id="selectPermissionListByUser" resultType="java.lang.String">
        select p.keyword keyword
        from user as u
                 left join user_role as ur
                           on u.id = ur.user_id
                 left join role as r
                           on r.id = ur.role_id
                 left join role_permission as rp
                           on r.id = rp.role_id
                 left join permission as p
                           on p.id = rp.permission_id
        where u.id = #{sysUserId}
          and u.is_delete = 0
          and r.is_delete = 0
          and p.is_delete = 0
    </select>

    <select id="selectPermissionListByPathAndMethod" resultType="java.lang.String">
        select keyword
        from permission
        where is_delete = 0
          and path = #{path}
          and method = #{method}
    </select>
</mapper>