<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ajin.mall.sys.goods.mapper.BrandMapper">
    <select id="selectCountByName" resultType="java.lang.Integer">
        select count(id)
        from brand
        where name = #{name}
          and is_delete = 0
    </select>

    <select id="selectListByCondition" resultType="ajin.mall.sys.goods.view.BrandView">
        select id, name, image, initials, sort
        from brand
        <where>
            is_delete = 0
            <if test="keyword != null and keyword != ''">
                and (name like concat('%', #{keyword}, '%')
                        or
                     initials like concat('%', #{keyword}, '%')
                        )
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="initials != null and initials != ''">
                and initials like concat('%', #{initials}, '%')
            </if>
        </where>
        order by sort asc
    </select>

    <select id="selectIdByName" resultType="java.lang.Long">
        select id
        from brand
        where is_delete = 0
        and name = #{name}
    </select>
</mapper>
